name: Main

on:
  workflow_dispatch:
    inputs:
      Version:
        description: 'version to be released'
        required: true
    
#  push:
#    tags:
#      - "v*.*.*"

jobs:
  cache-build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: echo ${{ github.sha }} linux > awsroleswitcherlinux
      - name: Test
        run: cat awsroleswitcherlinux
      - uses: actions/cache@v3
        id: restore-build
        with:
          path: ./awsroleswitcherlinux
          key: ${{ github.sha }}-linux
  cache-build-mac:
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: echo ${{ github.sha }} mac > awsroleswitchermac
      - name: Test
        run: cat awsroleswitchermac
      - uses: actions/cache@v3
        id: restore-build
        with:
          path: ./awsroleswitchermac
          key: ${{ github.sha }}-mac
  cache-use-build:
    name: Retrive linux build from cache
    runs-on: ubuntu-latest
    needs: [cache-build-linux]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        id: restore-build-linux
        with:
          path: ./awsroleswitcherlinux
          key: ${{ github.sha }}-linux
      - run: echo "testingrunlinux" && cat awsroleswitcherlinux
      - uses: actions/cache@v3  
        id: restore-build-mac
        with:
          path: ./awsroleswitchermac
          key: ${{ github.sha }}-mac
      - run: echo "testingrunmac" && cat awsroleswitchermac
  
